{% extends "layout_admin.html.twig" %}

{% block titletop %}
    {{ "Logi"|trans }}
{% endblock %}

{% block content %}

     <div class="py-3 border-top border-bottom">
        <div class="row">
            <div class="col-md-4">
                {{ "Data początkowa"|trans }}
                <input id="datetimepicker1" class="form-control" value="" />
            </div>
            <div class="col-md-4">
                {{ "Data końcowa"|trans }}
                <input id="datetimepicker2" class="form-control" value="" />
            </div>
            <div class="col-md-4">
                {{ "Sortowanie"|trans }}
                <select id="sort" class= "form-control reload" style="width:100%; min-height:40px;">
                    <option value="new">{{ "Najnowsze"|trans }}</option>
                    <option value="old">{{ "Najstarsze"|trans }}</option>
                </select>
            </div>
        </div>
    </div>

    {% include '/others/spinner.html.twig'  %}

    <div class="" id="logsList">

    </div>

<script language = "javascript">
  $(document).ready(function(){

         $('#datetimepicker1').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'yyyy-mm-dd',
            value: '{{ dateStart }}',
            close: function (e) {
                ReloadAdminLogs();
            }
        });

         $('#datetimepicker2').datepicker({
            uiLibrary: 'bootstrap4',
            useCurrent: false,
            format: 'yyyy-mm-dd',
            value: '{{ dateEnd }}',
            close: function (e) {
                ReloadAdminLogs();
            }
        });

        ReloadAdminLogs();

        $(".reload").on("change", function( e ){
            ReloadAdminLogs();
        });
  });
</script>

{% endblock %}
