{% extends "layout.html.twig" %}

{% block content %}

    <div class="text-center p-5 module-news">
        <h1>{{ event.title }}</h1>
    </div>

{{ form_start(form) }}
    <div class="py-3 border-top border-bottom">
        <div class="row">
            <div class="col">
                <a href="javascript:history.back()"><span class="btn btn-info btn-lg">{{ "Powrót"|trans }}</span></a>
            </div>
            <div class="col">

            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-danger btn-lg">{{ "Zapisz"|trans }}</button>
            </div>
        </div>
    </div>

    <div class="pb-5">
        <div class="row my-4">
            <div class="col-4 text-right">
                {{ "Komentarz"|trans }}
            </div>
            <div class="col-8">
                {{ form_widget(form.description) }}
            </div>
        </div>

        <div class="row my-4">
            <div class="col-4 text-right">
                {{ "Zdjęcie"|trans }}
            </div>
            <div class="col-8">
                {{ form_errors (form.photo1) }}
                {{ form_widget(form.photo1) }}
            </div>
        </div>
    </div>

    <div class="py-3 border-top border-bottom">
        <div class="row">
            <div class="col">
                <a href="javascript:history.back()"><span class="btn btn-info btn-lg">{{ "Powrót"|trans }}</span></a>
            </div>
            <div class="col">

            </div>
            <div class="col text-right">
                <button type="submit" class="btn btn-danger btn-lg">{{ "Zapisz"|trans }}</button>
            </div>
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
